
html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Inter' , sans-serif;
  color: white;
  background: black;
}

.back-vid {
  position: fixed;
  top: 0;
  left: 0;
  
  object-fit: cover;
  z-index: -1;
}

/* Navbar styling  */
.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 30px 0;
  z-index: 999;
  background: transparent;
  display: flex;
  justify-content: center;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 100px;
  margin: 0;
  padding: 0;
}

.nav-links li a {
  text-decoration: none;
  color: rgb(237, 237, 237);
  font-weight: 350;
  font-size: 0.7rem;
  letter-spacing: 2px;
  transition: color 0.3 ease;
}

.nav-links li a:hover {
  color: cyan;
}

/* Sections */
section {
  min-height: 100vh;
  padding-top: 120px;
  text-align: center;
  color: white;
}

.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 130vh; /* maybe it will be changed later*/
  position: relative;
  text-align: center;
  padding: 0 5vw;
}

.hero-content p {
  margin: 0;
  font-size: clamp(2rem, 8vw, 8rem);
  font-weight: 500; 
  line-height: 1.0;
  letter-spacing: 1px;
}

.hero-content p:nth-child(1) {
  transform: translateX(00px);
}

.hero-content p:nth-child(2) {
  transform: translateX(00px);
}

.hero-content p:nth-child(3) {
  transform: translateX(65px);
}

.hero-content p:nth-child(4) {
  transform: translateX(00px);
}

/* Gradient text */
.gradient-text {
  background: linear-gradient(90deg, #ff4b2b, #ec38bc, #ff4b2b);
  background-size: 200% auto;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: shine 3s ease-in-out infinite;
  font-weight: 600;
}

@keyframes shine {
  0% { background-position: 0% center; }
  50% { background-position: 100% center; }
  100% { background-position: 0% center; }
}


@media (max-aspect-ratio : 16/9) {
    .back-vid {
        width: 100%;
        height: auto;
    }

}
@media (min-aspect-ratio : 16/9) {
    .back-vid {
        width: 100%;
        height: auto;
    }

}